body {
    background-color: #E7E7E5;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Business Search form Styling */
.search-form {
    margin-top: 50px;
    position: relative;
    width: 800px;
    height: 650px;
    border: 5px solid #D4D4D5;
    background-color: #FEFFFE;
    margin-bottom: 120px;
}

.bg-image {
    width: 800px;
    height: 180px;
    object-fit: cover;
    object-position: 0% 102%;
}

.head1 {
    position: absolute;
    top: 15px;
    left: 48px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}

.head2 {
    position: absolute;
    top: 77px;
    left: 48px;
    font-size: 23px;
    color: white;
}

.center-form {
    margin-left: 70px;
}

label {
    color: #4E70AC;
    font-size: 20px;
}

.required {
    color: red;
    vertical-align: text-top;
}

input {
    font-size: 18px;
    padding-left: 3px;
    height: 35px;
}
input:focus{
    border: 1px solid black;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

select {
    font-size: 18px;
    padding-left: 3px;
    height: 40px;
    width: 320px;
    background-color: transparent;
    border: 1px solid rgb(119, 118, 118);
}
select:focus{
    border: 1px solid black;
    outline: none;
}
@-moz-document url-prefix() {
    #distance {
        margin-right: 75px !important;
    }
}

#keyWord {
    width: 660px;
}

.dist {
    margin-right: 200px;
}

#distance {
    margin-right: 145px;
}

#location {
    width: 660px;
}

.line {
    height: 2px;
    background: #97A8CC;
    margin-right: 59px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.checkbox {
    height: 10px;
    transform: scale(1.5);
    width: 10px;
    box-sizing: initial;
    border: 2px solid black;
}

.footer {
    margin-top: 20px;
    margin-left: 70px;
}

.btn {
    width: 115px;
    height: 50px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.btn:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

.blue,
.blue-head{
    background-color: #4E6FAF;
}

.blue:hover {
    background-color: #273b63;
}

.yellow {
    background-color: #FEB605
}

.yellow:hover {
    background-color: #c68f03;
}

/* Response table styling*/

table {
    border-collapse: collapse;
    width: 1135px;
    text-align: center;
    background-color: white;
}
.no-data{
    width: 1135px;
    border: 1px solid #ddd;
    text-align: center;
    color: white;
}
td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-head {
    color: black;
    font-weight: bold;
    text-align: center;
}

.item-no {
    width: 50px;
}

.item-image {
    width: 150px;
    height: 150px;
}

.item-name {
    width: 550px;
    cursor: pointer;
}
.gray:hover{
    color: #545455;
}

.item-rating,
.item-distance {
    width: 150px
}

.pointer {
    cursor: pointer;
}

/* Card Content Styling */
.card-conatiner {
    width: 1000px;
    border: 1px solid #D4D4D5;
    background-color: #FEFFFE;
    padding-bottom: 20px;
}

.card-header {
    text-align: center;
    font-size: 35px;
}

.c-heading {
    margin-bottom: 20px;
}

.card-header-line {
    border: 1px solid #E7E7E5;
    width: 950px;
    margin: auto;
}

.card-body {
    margin: 30px;
}

.card-block {
    width: 465px;
    height: 100px;
    display: inline-block;
    margin-bottom: 10px;
}

.block-header {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.block-content {
    font-size: 15px;
    margin-top: 10px;
    color: rgb(67, 67, 67);
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;

}

.status-red {
    padding: 10px 15px;
    border-radius: 25px;
    background-color: red;
    color: black;
}

.status-green {
    padding: 10px 15px;
    border-radius: 25px;
    background-color: green;
    color: black;
}

.card-details {
    color: rgb(111, 111, 111);
}
#result-table-wrapper{
    margin-bottom: 150px;
}

.card-photos {
    margin: auto;
    height: 500px;
    text-align: center;
}

.image-container {
    display: inline-block;
    height: 500px;
    border: 2px solid #E7E7E5;
    margin-bottom: 20px;
    vertical-align: top;
}
.image-container:hover{
    border: 1px solid black;
    z-index: 300;
}

.card-img {
    width: 300px;
    max-height: 460px;
    margin-right: 5px;
    margin-left: 5px;
}
.img-hldr{
    height: 460px;
    padding-top: 5px;
}
.photo-title {
    text-align: center;
    color: rgb(111, 111, 111);
}