body {
    background-color: #E7E7E5;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Business Search form Styling */
.search-form {
    margin-top: 50px;
    position: relative;
    width: 800px;
    height: 650px;
    border: 5px solid #D4D4D5;
    background-color: #FEFFFE;
    margin-bottom: 120px;
}

.bg-image {
    width: 800px;
    height: 180px;
    object-fit: cover;
    object-position: 0% 105%;
}

.head1 {
    position: absolute;
    top: 10px;
    left: 55px;
    font-size: 33px;
    color: white;
    font-family: sans-serif;
}

.head2 {
    position: absolute;
    top: 80px;
    left: 55px;
    font-size: 23px;
    color: white;
}

.center-form {
    margin-left: 70px;
}

label {
    color: #4E70AC;
    font-size: 20px;
}

.required {
    color: red;
    vertical-align: text-top;
}

input {
    font-size: 18px;
    padding-left: 3px;
    height: 35px;
}

select {
    font-size: 18px;
    padding-left: 3px;
    height: 40px;
    width: 320px;
}

#keyWord {
    width: 660px;
}

.dist {
    margin-right: 200px;
}

#distance {
    margin-right: 145px;
}

#location {
    width: 660px;
}

.line {
    height: 2px;
    background: #97A8CC;
    margin-right: 59px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.checkbox {
    height: 10px;
    transform: scale(2);
}

.footer {
    margin-top: 20px;
    margin-left: 70px;
}

.btn {
    width: 115px;
    height: 50px;
    color: white;
    font-size: 18px;
}

.blue {
    background-color: #4E6FAF;

}

.yellow {
    background-color: #FEB605
}

/* Response table styling*/

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-head{
   color: black;
   font-weight: bold ;
   text-align: center;
}

.item-no{
    width: 50px;
}
.item-image{
    width: 150px;
    height: 150px;
}
.item-name{
    width: 550px;
}
.item-rating, .item-distance{
    width: 150px
}