.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.bg-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: 37% 105%;
  z-index: -100;
  filter: saturate(200%) opacity(50%) brightness(70%) contrast(200%) hue-rotate(15deg);
  position: absolute;
}

.header {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3vw;
  z-index: 100;
}

.nav-btn {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.nav-border {
  border: 1px solid black;
  border-radius: 1rem;
}

.row {
  width: 100% !important;
  margin: 0 !important;
}

.cursor-ptr{
  cursor: pointer;
}